body {
    font-family: Roboto,sans-serif; 
    background-color: rgb(66, 120, 173);
    background-image: url("imagenes/FondoCalle.jpg");
    background-size: 100%;
    font-size:1rem;
    display: flex;
}
form{
    padding: 20px;
}
.container {
    opacity: 90%;
    background-color: rgb(66, 120, 173);
    font-family: monospace; 
    padding: 3rem;
    margin-left: 17rem;
    margin-right: 17rem;
    text-align: left;
    color: white;
    border-radius: 0.5rem;
}
td.sugerencias{
    
    font-size: 15px;
    text-align: left;
    border-spacing: 0px;
}
.describe{
     width: 200px;
    height: 2px;
}

.texto {
    font-weight: bold;
    display: flex;
}

.button-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10%;
}

.button {
    font-family: roboto,sans-serif; 
    background-color:orange;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 3rem;
    font-size:1rem;
    letter-spacing:0.07rem; 
        
}
.enlaces{
    text-decoration: none;
    color: inherit;
}

table{
    height: 8rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2rem;
}
.default{
    width: 27rem;
    height: 1.7rem;
    border: none;
    border-radius: 0.7rem;
    padding: none;
    text-align: center;
}

.button:hover {
    background-color: #33ff33;
    color:white;
}
section.textoYBotones{
    margin-top: 1rem;
    letter-spacing: 4rem;
}
.textarea{
    width:48rem;
    height: 10rem;
    border-radius: 0.5rem;
    border: none;
    resize:none;
}

th{
    width: 15rem;
    height: 0.2rem;
    color: rgb(148, 148, 148);
    font-size: 15px;
    text-align: center;
    
}
.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: orange;
}
.subtitles{
    letter-spacing: 0.05rem;
    color: orange;
    margin: 0px;
}

#agregar{
    font-size:2rem; 
}
.botones{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    color: orange;
    border-radius: 0.7rem;
    border: 1px solid orange;
    padding-top: 15px;
}
#reg1{
    margin-left: 9rem;
    margin-top: 1rem;
    margin-right: -10rem;
    grid-column: 1;
    grid-row: 1;
    width: 200px;
    height:30px ;
}
#reg2{
    grid-column: 2;
    grid-row: 1;
}