body {
    font-family: Roboto,sans-serif; 
    background-color: rgb(66, 120, 173);
    background-image: url("imagenes/FondoCalle.jpg");
    background-size: 100%;
    font-size:1rem;
    display: flex;
}

.container {
    opacity: 90%;
    width: 10000px;
    background-color: rgb(66, 120, 173);
    font-family: monospace; 
    padding: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: left;
    color: white;
    border-radius: 0.5rem;
}
.separador{
    background-color: rgb(104, 164, 222);
    border-radius: inherit;
    font-size: 30px;
}
.fecha{
    justify-content:right;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: monospace; 
    display: flex;
    text-align: center;
}

.button-container {
    flex-direction: column;
    align-items: justify;
    gap: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.button {
    font-family: roboto,sans-serif; 
    background-color:orange;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.3rem 3rem;
    font-size:1rem;
    display: inline;
}
submit{
    display: inherit;
}
.enlaces{
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #33ff33;
    color:white;
}
p{
 line-height: 2rem; 
 letter-spacing:0.1rem; 
     
}
ul{
    grid-column: 2;
    list-style: none;
}
h4{
    display: inline;
}
.botones{
    letter-spacing:8rem ;
    text-align: center;
    color: orange;
    border-radius: 0.7rem;
    border: 1px solid orange;
    padding-top: 15px;
}
.question{
    text-align: center;
}
.subtitulos{
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    font-size: 2rem;
    color: orange;
}
.subtitles{
    letter-spacing: 0.05rem;
    color: orange;
}
.titulo{
    font-weight: bold;
    font-size: 2.5rem;
    color: orange;
    
}
